<!DOCTYPE html>
<html lang="en">
<head>
                    <meta charset="UTF-8">
                    <meta name="viewport" content="width=device-width, initial-scale=1.0">
                    <title>Nurture And Care</title>
                    <style>
                                        body {
                                        /*background: linear-gradient(#9AC5F4, #99DBF5, #A7ECEE);*/
                                        font-family: monospace; /* Use monospace font for the entire body */
                                        text-align: justify; /* Center align the text */
                                        padding-left: 80px;
                                        padding-right: 80px;
                                        background: linear-gradient(to bottom, #8e44ad, #3498db);
                                        background-size: cover;
                                        background-position: center;
                                        color: white;
                                        }
                                        h3{
                                                            font-size: x-large;
                                        }
                                         .image-container {
                                        display: flex;
                                        height: 400px;
                                        width: 1200px;
                                        border-radius: 20px;
                                        overflow: hidden; /* Ensure the image doesn't overflow the container */
                                        margin-left: 400px;
                                        /*margin-right: 50px;  Adjust the margin to move the image slightly to the right */
                                        }

                                        img {
                                        max-width: 100%; /* Ensure the image does not exceed its container's width */
                                        height: auto; /* Maintain the image's aspect ratio */
                                        }
                                        .opaque-div {
                                        opacity: 0.8;
                                        padding: 20px; /* Add padding to create some space around the content */
                                        border-radius: 5px; /* Add rounded corners to the div */
                                        background-color: rgba(0, 0, 0, 0.7); /* Use rgba to set the background color with opacity */
                                        }

                                        /* Set the text inside the div to remain bold */
                                        .opaque-div h3,
                                        .opaque-div p {
                                        font-weight: bold;
                                        }
                                        h1, h2, h3, h4, h5, h6,
                                        p, label, a, button {
                                        color: white;
                                        }
                    </style>
                    {%- include "header.html" %}
</head>
<body>
                    <div class="opaque-div">
                   <h1 style="text-align: center;color: white;">NURTURE AND CARE</h1>
                   <p style="font-size: larger ;">
                    There is no cure for Alzheimer's disease or any specific remedy that can reverse its effects completely. 
                    However, there are certain treatments and care approaches that can help manage symptoms, slow down the progression of the disease, and improve the quality of life for individuals with Alzheimer's. Additionally, the support and care provided by family and loved ones play a crucial role in enhancing the well-being of those affected. 
                    Here are some essential aspects to consider:
                   </p> 
                </div>
                   <div class="image-container"><img src="https://cdn.shopify.com/s/files/1/0029/5387/1430/files/Affirmations-Seniors-480x320_480x480.jpg?v=1673960268"></div>
                   <h3><br/></h3>
                   <div class="opaque-div">
                   <h3 style="color: white;">Medications: </h3>
                   <p style="font-size: larger;">
                    There are medications available that can temporarily improve cognitive function and manage certain behavioral symptoms in some individuals with Alzheimer's. These drugs may include cholinesterase inhibitors (such as donepezil, rivastigmine, and galantamine) and memantine. It is essential to work closely with a healthcare professional to determine the most appropriate treatment plan for the individual's specific needs.
                    </p>
                    </div><h3><br/></h3>
                    <div class="opaque-div">
                    <h3 style="color: white;">Non-pharmacological interventions: </h3>
                    <p style="font-size: larger;">
                    Various non-drug approaches can be beneficial in managing Alzheimer's symptoms. These may include cognitive stimulation activities, physical exercise, art therapy, music therapy, and reminiscence therapy. These interventions can help maintain cognitive function, reduce anxiety, and improve mood.
                    </p></div><h3><br/></h3>
                    <div class="opaque-div">
                    <h3 style="color: white;">Supportive care:</h3>
                    <p style="font-size: larger;">As the disease progresses, individuals with Alzheimer's may require increasing levels of assistance with daily activities, such as dressing, eating, bathing, and toileting. Providing a safe and supportive environment is essential to promote independence and maintain dignity.</p>
                    </div><h3><br/></h3>
                    <div class="opaque-div">
                    <h3 style="color: white;">Memory aids and routines: </h3>
                    <p style="font-size: larger;">Establishing regular daily routines and using memory aids, such as calendars, to-do lists, and reminders, can help individuals with Alzheimer's manage daily tasks and reduce anxiety caused by memory loss.</p>
                    </div><h3><br/></h3>
                    <div class="opaque-div">
                    <h3 style="color: white;">Communication and social engagement: </h3>
                    <p style="font-size: larger;">Encouraging social interactions and maintaining communication with the person with Alzheimer's can help reduce feelings of isolation and enhance emotional well-being. Simple and clear communication, along with patience and understanding, are essential when interacting with someone with dementia.</p>
                    </div><h3><br/></h3>
                    <div class="opaque-div">
                    <h3 style="color: white;">Caregiver support: </h3>
                    <p style="font-size: larger;">Caring for someone with Alzheimer's can be emotionally and physically challenging. Family and loved ones providing care should seek support from healthcare professionals, support groups, and respite care services to prevent caregiver burnout and ensure the best care for the affected individual.</p>
                    </div><h3><br/></h3>
                    <div class="opaque-div">
                    <h3style="color: white;">Safety measures: </h3>
                    <p style="font-size: larger;">As Alzheimer's progresses, safety becomes a significant concern. Taking steps to create a safe home environment, such as removing potential hazards and installing locks on doors, can help prevent accidents and wandering.</p>
                    </div><h3><br/></h3>
                    <div class="opaque-div">
                    <h3 style="color: white;">Legal and financial planning: </h3>
                    <p style="font-size: larger;">It's essential for families to plan ahead and address legal and financial matters while the person with Alzheimer's is still capable of making decisions. This may include setting up powers of attorney, establishing a living will, and managing financial affairs.</p>
                    </div><h3><br/></h3>
                    <div class="opaque-div">
                    <h3style="color: white;">Long-term care options: </h3>
                    <p style="font-size: larger;">In the later stages of Alzheimer's, when providing care at home becomes challenging, families may consider long-term care options, such as assisted living facilities or nursing homes with specialized memory care units.</p>
                    </div><h3><br/></h3>
                    <div class="opaque-div">
                    <p style="font-size: larger;">
                    It's crucial for families and loved ones to remember that each person with Alzheimer's is unique, and the disease may manifest differently in each individual. Tailoring care and support to meet the specific needs of the person with Alzheimer's is essential for maintaining their well-being and dignity throughout the course of the disease.
                    </p>
                </div>
                    
                    
</body>
</html>