<!DOCTYPE html>
<html lang="en">
<head>
                    <meta charset="UTF-8">
                    <meta name="viewport" content="width=device-width, initial-scale=1.0">
                    <title>Contact Us</title>
                    <style>
                                        body {
                                        background: linear-gradient(#9AC5F4, #99DBF5, #A7ECEE);
                                        font-family: monospace; /* Use monospace font for the entire body */
                                        text-align: center; /* Center align the text */
                                        padding-left: 80px;
                                        padding-right: 80px;
                                        background: linear-gradient(to bottom, #8e44ad, #3498db);
                                        background-size: cover;
                                        background-position: center;
                                        color: white;
                                        }

                                        .social-container {
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        height: 10vh; /* Set the container height to 100% of the viewport height */
                                        }

                                        .social img {
                                        height: 40px;
                                        width: 40px;
                                        margin: 10px; /* Add margin around the logos for spacing */
                                        }
                                        .opaque-div {
                                        opacity: 0.8;
                                        padding: 20px; /* Add padding to create some space around the content */
                                        border-radius: 5px; /* Add rounded corners to the div */
                                        background-color: rgba(0, 0, 0, 0.7); /* Use rgba to set the background color with opacity */
                                        }

                                        /* Set the text inside the div to remain bold */
                                        .opaque-div h3,
                                        .opaque-div p {
                                        font-weight: bold;
                                        }
                                        h1, h2, h3, h4, h5, h6,
                                        p, label, a, button,ol,li {
                                        color: white;
                                        }
                    </style>
                {%- include 'header.html' %}
</head>
<body>
                    
                                        <h1 style="text-align: center;color: white;">Reach Out To Us</h1>
                                        <h3><br/></h3>
                                        <div class="opaque-div"> 
                                        <p style="font-size: larger;">
                                        If you have any questions, suggestions, or need support, please don't hesitate to contact us. We value your feedback and are here to assist you in any way we can.
                                        For urgent support or crisis intervention, we provide helpline numbers that connect you to trained professionals who can offer immediate assistance.
                                        Privacy is essential, and we encourage you to read our privacy policy and terms of use to understand how we handle your information.<br/>
                                        <img src="https://cdn4.iconfinder.com/data/icons/social-media-logos-6/512/112-gmail_email_mail-512.png" style="height: 40px; width: 40px;"> blahblahablah@gmail.com<br/>
                                        <img src="https://cdn-icons-png.flaticon.com/512/1661/1661442.png" style="height: 40px;width: 40px;"> 1122334455
                    </p>
                    </div>
                    <h3><br/></h3>
                    <div class="opaque-div"><h1 style="text-align: center;color: white;">Our Social Media Handles</h1>
                    <div class="social-container">
                                        
                                        <a class="social" href="#"><img src="https://png.pngtree.com/png-vector/20221018/ourmid/pngtree-instagram-icon-png-image_6315974.png"></a>
                                        <a href="#" class="social"><img src="https://www.phoronix.net/image.php?id=2023&image=twitter_x"></a>
                                        <a href="#" class="social"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/81/LinkedIn_icon.svg/1024px-LinkedIn_icon.svg.png"></a>
                    </div></div>
                    <div>
                                        <br/>
                                        <br/>
                                        <br/>
                                        
                    </div>
                    
</body>
</html>