<!DOCTYPE html>
<html lang="en">
<head>
                    <meta charset="UTF-8">
                    <meta name="viewport" content="width=device-width, initial-scale=1.0">
                    <title>ERRR</title>
                    <style>
                                        body {
                                            display: flex;
                                            justify-content: center;
                                            align-items: center;
                                            height: 100vh;
                                            margin: 0;
                                            background-color: #eaf3f3; /* Pale blue */
                                            background: linear-gradient(to bottom, #8e44ad, #3498db);
                                            background-repeat: no-repeat;
                                            background-size: cover;
                                            
                                        }
                                        .btn {
                                        background-color: #DD58D6; /* Blue button color */
                                        /* background-color: #32a852; / / Green button color */
                                        color: #fff;
                                        padding: 10px 20px;
                                        border: none;
                                        border-radius: 4px;
                                        cursor: pointer;
                                        }
                                        .container {
                                        width: 400px;
                                        padding: 20px;
                                        border: 1px solid #ccc;
                                        background-color: #fff;
                                        border-radius: 5px;
                                        text-align: center;
                                        /*background-image: url('https://i.pinimg.com/564x/30/9c/5c/309c5c92dbe5e1266daedae409c91e74.jpg');*/
                                        opacity: 0.8;
                                        }

                    </style>                    
</head>
<body>
                    <div class="container">
                                        <h4 style="font-family: monospace;font-weight: bolder;font-size: x-large;">Password and Confirm Password doesn't match</h4>
                                        <a href="/forgot"><button class="btn">OK</button></a>
                                        
                    </div>
</body>
</html>