<!DOCTYPE html>
<html lang="en">
<head>
                    <meta charset="UTF-8">
                    <meta name="viewport" content="width=device-width, initial-scale=1.0">
                    <title>Know more about the disease</title>
                    <style>
                                        body {
                                        /*background: linear-gradient(#9AC5F4, #99DBF5, #A7ECEE);*/
                                        font-family: monospace; /* Use monospace font for the entire body */
                                        text-align: justify; /* Center align the text */
                                        padding-left: 80px;
                                        padding-right: 80px;
                                        background: linear-gradient(to bottom, #8e44ad, #3498db);
                                        background-size: cover;
                                        background-position: center;
                                        color: white;
                                        }
                                        h1, h2, h3, h4, h5, h6,
                                        p, label, a, button {
                                        color: white;
                                        }
                                        
                                        .image-container {
                                        display: flex;
                                        
                                        height: 400px;
                                        width: 1200px;
                                        border-radius: 10px;
                                        overflow: hidden; /* Ensure the image doesn't overflow the container */
                                        margin-left: 300px;
                                        margin-right: 50px; /* Adjust the margin to move the image slightly to the right */
                                        }

                                        img {
                                        max-width: 100%; /* Ensure the image does not exceed its container's width */
                                        height: auto; /* Maintain the image's aspect ratio */
                                        }
                                        .opaque-div {
                                        opacity: 0.8;
                                        padding: 20px; /* Add padding to create some space around the content */
                                        border-radius: 5px; /* Add rounded corners to the div */
                                        background-color: rgba(0, 0, 0, 0.7); /* Use rgba to set the background color with opacity */
                                        }

                                        /* Set the text inside the div to remain bold */
                                        .opaque-div h3,
                                        .opaque-div p {
                                        font-weight: bold;
                                        }
                                        
                    </style>
                    {%- include "header.html" %}
</head>
<body>
                <div class = "opaque-div">
                    <h1 style="text-align: center;color: white;">Understanding Alzheimer's Disease</h1>
                    <p style="font-size: larger;">Alzheimer's is a progressive neurodegenerative disorder that primarily affects memory, cognition, and behavior. 
                                        It is the most common cause of dementia among older adults. As the disease advances, individuals may find it increasingly challenging to perform everyday tasks and communicate effectively.
                                        Early signs of Alzheimer's include forgetfulness, difficulty solving problems, confusion about time or place, and changes in mood or personality. 
                                        Detecting the disease in its early stages can lead to better treatment outcomes and improved quality of life.
                                        Through education and support, we aim to foster a more compassionate and informed society for those living with Alzheimer's and their caregivers.
                    </p>
                </div>
                    
                    <div class="image-container"><img src="https://www.mdpi.com/biomedicines/biomedicines-11-00149/article_deploy/html/images/biomedicines-11-00149-g001.png">
                    </div>
                    <h3><br/></h3>
                    <div class="opaque-div">
                    <h3 style="color: white;">Types of Alzheimer's disease:</h3>
                    <p style="font-size: larger;">
                                        A. Early-onset Alzheimer's disease: This form of Alzheimer's occurs before the age of 65. It is relatively rare and is often associated with genetic mutations.
                                        <br/>B. Late-onset Alzheimer's disease: This is the most common form and occurs after the age of 65. It may be influenced by genetic and environmental factors.
                    </p>
                    </div>
                    <h3><br/></h3>
                    <div class="opaque-div">
                    <h3 style="color: white;">Stages of Alzheimer's disease:</h3>
                    <p style="font-size: larger;">
                    Alzheimer's disease is typically classified into several stages based on symptom progression. However, it's important to note that the rate of progression can vary from person to person.
                     <br/>A. Preclinical stage: In this stage, there are no outward symptoms of Alzheimer's, but changes are occurring in the brain. Biomarkers, such as abnormal levels of certain proteins, may be detectable in cerebrospinal fluid or through imaging.
                     <br/>B. Mild cognitive impairment (MCI) due to Alzheimer's: This stage involves mild cognitive changes that are noticeable to the affected individual and sometimes to their close family and friends. However, daily functioning is not significantly impaired at this point.
                     <br/>C. Mild Alzheimer's disease: As the disease progresses, memory and cognitive deficits become more apparent. The individual may have difficulty with tasks like recalling recent events, planning, and organizing.
                     <br/>D. Moderate Alzheimer's disease: In this stage, memory loss and cognitive impairment worsen significantly. People may have difficulty recognizing family members, experience personality changes, and have trouble with language and problem-solving.
                     <br/>E. Severe Alzheimer's disease: This is the final stage of the disease, where individuals lose the ability to communicate, are dependent on others for basic care, and may experience a loss of physical function.</p>
                    </div>
                     <h3><br/></h3>
                    <div class="opaque-div">
                    <h3 style="color: white;">Stages of dementia in general:</h3>
                    <p style="font-size: larger;">
                    Dementia is a broad term that includes various conditions affecting cognitive abilities. While Alzheimer's disease is the most common cause of dementia, there are other types as well, such as vascular dementia, Lewy body dementia, and frontotemporal dementia. The stages of dementia, in general, may overlap with those of Alzheimer's disease but can differ based on the specific type of dementia and individual factors.
                    </p>
                    </div>             
                    <h3><br/></h3>
                    <div class = "opaque-div">
                    <p style="font-size: larger;">
                     It's important to understand that there is no cure for Alzheimer's disease or many other types of dementia. Treatment mainly focuses on managing symptoms, improving quality of life, and providing support for the affected individual and their caregivers. Early detection and intervention are crucial in helping individuals and families cope with the challenges of these conditions. If you suspect someone may be experiencing cognitive decline or dementia, it's essential to seek medical evaluation and support from healthcare professionals.
                    </p>
                </div>
</body>
</html>