<!DOCTYPE html>
<html lang="en">
<head>
                    <meta charset="UTF-8">
                    <meta name="viewport" content="width=device-width, initial-scale=1.0">
                    <title>Privacy Policy</title>
                    <style>
                                        body {
                                        /*background: linear-gradient(#9AC5F4, #99DBF5, #A7ECEE);*/
                                        font-family: monospace; /* Use monospace font for the entire body */
                                        text-align: justify; /* Center align the text */
                                        padding-left: 80px;
                                        padding-right: 80px;
                                        background: linear-gradient(to bottom, #8e44ad, #3498db);
                                        background-size: cover;
                                        background-position: center;
                                        color: white;
                                        }
                                        h3{
                                                            font-size: x-large;
                                        }
                                        li{
                                                            font-size: larger;
                                        }
                                        .opaque-div {
                                        opacity: 0.8;
                                        padding: 20px; /* Add padding to create some space around the content */
                                        border-radius: 5px; /* Add rounded corners to the div */
                                        background-color: rgba(0, 0, 0, 0.7); /* Use rgba to set the background color with opacity */
                                        }

                                        /* Set the text inside the div to remain bold */
                                        .opaque-div h3,
                                        .opaque-div p {
                                        font-weight: bold;
                                        }
                                        h1, h2, h3, h4, h5, h6,
                                        p, label, a, button,ol,li {
                                        color: white;
                                        }
                    </style>
                    {%- include "header.html" %}
</head>
<body>
                                        <div class="opaque-div">
                                        <h1 style="text-align: center;color: white;">Privacy Policy</h1>
                                        <p style="font-size: larger;">Alzheimer Care And Support organisation is committed to protecting the privacy and security of your personal information. This Privacy Policy outlines the types of information we collect from users of our website and mobile application, how we use and safeguard this information, and the choices you have concerning the collection and use of your data.</p>
                                        </div>
                                        <div class="opaque-div"><h3 style="color: white;">Information Collection and Use:</h3>
                                        <ol>
                                                            <li>We may collect personal information, including but not limited to your name, contact details, medical history, and MRI scan data, to provide accurate predictions for Alzheimer's disease and improve our services.</li>
                                                            <li>Your personal information will be used for diagnosis, research, and providing personalized support and care through our mobile application.</li>
                                        </ol></div><h3><br/></h3>
                                        <div class="opaque-div">
                                        <h3 style="color: white;">Data Sharing and Security:</h3>
                                        <ol>
                                                            <li>
                                                                                We do not share your personal information with third parties without your explicit consent, except when required by law or for medical research purposes (anonymized and aggregated data).
                                                            </li>
                                                            <li>We implement reasonable security measures to protect your personal information from unauthorized access, use, or disclosure.</li>
                                        </ol></div><h3><br/></h3>
                                        <div class="opaque-div">
                                        <h3 style="color: white;">Third-Party Links:</h3>
                                        <ol>
                                                            <li>Our website and app may contain links to third-party websites or services. We are not responsible for the privacy practices or content of these third parties. Please review their privacy policies before providing any personal information.</li>
                                                            
                                        </ol></div><h3><br/></h3>
                                        <div class="opaque-div">
                                        <h3 style="color: white;">Children's Privacy:</h3>
                                        <ol>
                                                            <li>Our services are intended for adult use. We do not knowingly collect personal information from individuals under the age of 18 without parental consent. If you believe we have inadvertently collected data from a child, please contact us immediately.</li>
                                        </ol></div><h3><br/></h3>
                    </div>

</body>
</html>