<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Page</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: #eaf3f3; /* Pale blue */
            background: linear-gradient(to bottom, #8e44ad, #3498db);
            background-repeat: no-repeat;
            background-size: cover;
            
        }

        .container {
            width: 400px;
            padding: 20px;
            border: 1px solid #ccc;
            background-color: #fff;
            border-radius: 5px;
            text-align: center;
            /*background-image: url('https://i.pinimg.com/564x/30/9c/5c/309c5c92dbe5e1266daedae409c91e74.jpg');*/
            opacity: 0.8;
        }

        .form-group {
            margin-bottom: 20px;
        }

        .form-group label {
            display: block;
            font-family: monospace;
            font-weight: bolder;
            font-size: 18px;
            margin-bottom: 5px;
        }

        .form-group input {
            width: 87%;
            font-family: monospace;
            font-weight: bolder;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
            background-color:#E1AEFF;
        }

        .btn {
            background-color: #007bff; /* Blue button color */
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
        }

        .btn.signup-btn {
            background-color: #9336B4; /* Blue button color for signup */
        }
        
    </style>
</head>

<body>
    <div class="container">
        <h1>Create an Account</h1>
        <form action="/signup" method="post">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>
            </div>
            
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="form-group">
                <label for="confirm-password">Confirm Password</label>
                <input type="password" id="confirm-password" name="confirmpassword" required>
            </div>
            <button type="submit" class="btn signup-btn">Sign Up</button>
            
        </form> 
    </div>
</body>
</html>
