<!DOCTYPE html>
<html lang="en">
<head>
                    <meta charset="UTF-8">
                    <meta name="viewport" content="width=device-width, initial-scale=1.0">
                    <title>Terms Of Use</title>
                    <style>
                                        body {
                                        /*background: linear-gradient(#9AC5F4, #99DBF5, #A7ECEE);*/
                                        font-family: monospace; /* Use monospace font for the entire body */
                                        text-align: justify; /* Center align the text */
                                        padding-left: 80px;
                                        padding-right: 80px;
                                        background: linear-gradient(to bottom, #8e44ad, #3498db);
                                        background-size: cover;
                                        background-position: center;
                                        color: white;
                                        }
                                        h3{
                                                            font-size: x-large;
                                        }
                                        li{
                                                            font-size: larger;
                                        }
                                        img{
                                                            border-radius: 50%;
                                                            height: 55px;
                                        }
                                        .opaque-div {
                                        opacity: 0.8;
                                        padding: 20px; /* Add padding to create some space around the content */
                                        border-radius: 5px; /* Add rounded corners to the div */
                                        background-color: rgba(0, 0, 0, 0.7); /* Use rgba to set the background color with opacity */
                                        }

                                        /* Set the text inside the div to remain bold */
                                        .opaque-div h3,
                                        .opaque-div p {
                                        font-weight: bold;
                                        }
                                        h1, h2, h3, h4, h5, h6,
                                        p, label, a, button,ol,li {
                                        color: white;
                                        }
                    </style>
                    {%- include "header.html" %}
</head>
<body>
                    <h1 style="text-align: center; color: white;"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT96NtYdGsDTYmm9j2tIFw5lgx_Hj_KPkyCy1MWd6BhItYKeHgf4zj_p19JQxkmx6QLYOk&usqp=CAU">  Terms Of Use  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT96NtYdGsDTYmm9j2tIFw5lgx_Hj_KPkyCy1MWd6BhItYKeHgf4zj_p19JQxkmx6QLYOk&usqp=CAU"></h1>
                    <p style="font-size: larger;">By accessing and using our website and mobile application, you agree to the following terms and conditions:</p>
                    <div class="opaque-div"><h3 style="color: white;">Accuracy of Information:</h3>
                    <ul>
                                        <li>Our predictions and support system should not substitute professional medical advice, diagnosis, or treatment. Always consult with a qualified healthcare provider for any medical concerns or conditions.</li>
                    </ul></div><h3><br/></h3>
                    <div class="opaque-div"><h3 style="color: white;">Intellectual Property:</h3>
                    <ul>
                                        <li>All content, including but not limited to logos, trademarks, texts, images, and software, are the property of Alzheimer Care And Support Organisation and protected by intellectual property laws.</li>
                    </ul></div><h3><br/></h3>
                    <div class="opaque-div"><h3 style="color: white;">User Conduct :</h3>
                    <ul>
                                        <li>You are responsible for maintaining the confidentiality of your account credentials and agree not to share or misuse your account.</li>
                                                           <li> You must not use our services for any unlawful or unauthorized purposes.</li>
                    </ul></div><h3><br/></h3>
                    <div class="opaque-div"><h3 style="color: white;">Limitation of Liability:</h3>
                    <ul>
                                        <li>Alzheimer Care And Support shall not be liable for any direct, indirect, incidental, or consequential damages arising from your use of our website or mobile application.</li>
                    </ul></div><h3><br/></h3 >
                    <div class="opaque-div"><h3 style="color: white;">Changes to Terms and Privacy Policy:</h3>
                    <ul>
                                        <li>We may update these Terms of Use and our Privacy Policy from time to time. Please review them periodically for any changes.</li>
                    </ul></div><h3><br/></h3>
                    
</body>
</html>